@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.main-container {
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    box-sizing: border-box;
}
.poppins-family {
    font-family: 'Poppins', sans-serif;
}
.text-primary {
    color: #8bc53f;
}
.text-sec {
    color: #ff7a1d;
}
.bg-primary {
    background-color: #8bc53f;
}
.bg-sec {
    background-color: #ff7a1d;
}
.btn-primary {
    background-color: #8bc53f;
    border-radius: 999px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 18px;
}